{% extends 'layout.html' %}

{% block content %}
    <h1> about page </h1>

    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}


    <div class="form-group">
      {{ form.img.label() }}
      {{ form.img(class="form-control-file") }}
      {% if form.img.errors %}
          {% for error in form.img.errors %}
            <span class="text-danger">{{ error }}</span></br>
          {% endfor %}
      {% endif %}
     </div>
     <div class="form-group">
       {{ form.submit(class="btn btn-outline-info")}}
     </div>
   </form>
   <br>
   {% if image_file=='no_image' %}
   {% else %}
      <img src="{{ image_file }}">
   {% endif %}
{% endblock %}

