{% extends 'layout.html' %}

{% block content %}

    <div class="container p-0">
            <div class="col-md-12 mt-4">
                <h4>Recently Classified Images</h4>
            </div>
        <div class="row">
            {% for h in history %}
            <div class="col-md-3 mb-3 mt-3 text-center">
                <img style="width:220px;height:220px; border:1px solid gray" src="{{ h.img }}">
                <span class="mt-1" style="display:block">{{h.catg}}</span>
            </div>
            {% endfor %}
            
        </div>
    </div>
{% endblock %}
